<h1>Create To Do</h1>

<form [formGroup]="form">

  <mat-form-field appearance="outline" class="g-form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" >
  </mat-form-field>


  <mat-form-field appearance="outline" class="g-form-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" type="text"></textarea>
  </mat-form-field>

</form>


<div>
  <button mat-stroked-button (click)="handleSaveClick()">Save</button>
</div>
